
$bg-color: #00af9d;

:host ::ng-deep {
    ul.k-menu {
        background: #00af9d;
        display: flex;
        justify-content: space-around;
        li {
            color: white !important;
        }
    }
} 

.color-bg {
    color: $bg-color;
}

.menu-col {
    border: 1px solid lightblue;
    background-color: #f9f9f9;
    padding: .5rem;
}

.banner-carousel {
    height: calc(100vh - (37px + 72px + 58px));
    object-fit: cover;
}

.header {
    color: white;
    padding: .5rem 0;
}

.banner {
    img {
        max-width: 100%;
    }
}

.icon-svg {
    width: 1rem;
}

.grid-5 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-row-gap: 1rem; 
    i {
        color: #00af9d;
    }
}

.grid-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    .call-center-bg {
        background-image: url('https://i.ibb.co/NxMcyZh/bg-hotline.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: white;
    }
    .bdr {
        border-right: 1px dashed white;
    }
}



.btn-custom {
    border: 1px solid #00af9d;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #00af9d;
}

agm-map {
    height: 400px;
  }

.block-title {
    border-bottom: 2px solid #00af9d;
    span {
        background-color: #00af9d;
        color: white;
        padding: .25rem .5rem 2px .5rem;
        font-size: 1rem;    
    }
}

.block-content {
    display: grid;
    grid-template-areas: 
        'first first second second second'
        'first first third third third'
        'first first fourth fourth fourth';
    grid-gap: 3rem;
    .block-content-first {
        grid-area: first;
    }
    .block-content-second {
        grid-area: second;
    }
    .block-content-third {
        grid-area: third;
    }
    .block-content-fourth {
        grid-area: fourth;
    }
    img {
        max-width: 100%;
    }
}

.block-news {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 2rem;
}

footer {
    text-align: center;
    background-color: #00af9d;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
}

.sticky {
    position: fixed;
    top: -8px;
    width: 100%;
    z-index: 100;
}
  
.sticky + .content {
    padding-top: 102px;
}

img {
    max-width: 100%;
}

.bg-color {
    background-color: #f9f9f9;
}

.bg-white {
    background-color: white;
}

h2, h3, h4, h5 {
    color: #00af9d;
}